<ion-header class = "ion-pading ion-no-border"> 

<ion-button expand="block" (click) = "counterUp()" [disabled]="numero==MAXIMO">

<ion-icon name = "caret-up-outline"></ion-icon>

</ion-button> 

</ion-header>

<ion-content [fullscreen]="true"> 
  <!--one-way binding (Interpolación) -->
  <div class="big-font center-content">
  {{numero}}
  </div>



</ion-content>

<ion-footer  class = "ion-pading ion-no-border">
  <ion-button expand="block" (click)="counterDown()"[disabled]="numero==MINIMO">

    <ion-icon name = "caret-down-outline"></ion-icon>
  </ion-button> 
</ion-footer>
